<div class="nb-theme-default">
  <div>
    Hello, {{ state.self_username }} (ID: {{ state.self_id }})
  </div>

  <div>
    Chat room list:
    <mat-selection-list #chatroomList [multiple]="false" (selectionChange)="selectChatroom($event)">
      <mat-list-option *ngFor="let r of chatrooms$ | async; first as isFirst" [value]="r" [selected]="isFirst">
        {{ r.name }} (ID: {{ r.id }})
      </mat-list-option>
    </mat-selection-list>
  </div>

  <!--<div *ngFor="let msg of messages$ | async">
    {{ msg | json }}
  </div>-->
  <nb-chat [title]="state.chatroom?.name || 'Untitled'" scrollBottom="true">
    <div *nbCustomMessage="'typing'; let data">
      <em>{{ data.typer_username }} is typing...</em>
    </div>

    <nb-chat-message *ngFor="let msg of messages$ | async"
                     [type]="msg.type"
                     [message]="msg.message"
                     [sender]="msg.sender_username"
                     [reply]="msg.reply"
                     [date]="msg.date">
    </nb-chat-message>

    <nb-chat-message *ngFor="let msg of extraMessages$ | async"
                     [type]="msg.type"
                     [sender]="msg.sender_username"
                     [reply]="msg.reply"
                     [customMessageData]="msg.customMessageData">
    </nb-chat-message>

    <nb-chat-form (send)="sendMessage($event)"
                  [dropFiles]="true"
                  (onInputChange)="onInputChange($event)"></nb-chat-form>
  </nb-chat>

  <!--
  <div *ngFor="let evt of receivedEvt$ | async">
    <pre>{{ evt | json }}</pre>
  </div>
  <div *ngFor="let msg of chatTextMessageEvt$ | async">
    <pre>{{ msg | json }}</pre>
  </div>

  <div>

    <mat-form-field class="example-form-field">
      <mat-label>Message</mat-label>
      <input matInput type="text" formControlName="message">

    </mat-form-field>

    <button mat-raised-button color="accent" (click)="send()">Send</button>
  </div>
  -->
</div>

